@remapped-highlight-brightness: unit(((@highlight-brightness / 100) / @group-max-luminance) * 100, %);
@remapped-highlight-saturation: unit(((@highlight-saturation / 100) / @group-max-saturation) * 100, %);

@-webkit-keyframes Highlight-In {
  0% {
    filter: saturate(100%);
    filter: brightness(100%);
  }
  30% {
    filter: saturate(@remapped-highlight-saturation);
    filter: brightness(@remapped-highlight-brightness);
  }
  100% {
    filter: saturate(100%);
    filter: brightness(100%);
  }
}

.lcars-button:active {
  animation-name: Highlight-In;
  animation-duration: @highlight-duration;
  animation-timing-function: ease-out;

  filter: saturate(@remapped-highlight-saturation);
}
