@import "lcars-variables.less";

@import "lcars-elbows.less";

@font-face {
    font-family: "Swiss911";
    src: url("../fonts/Swiss 911 Ultra Compressed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Swiss911" Sans-Serif;
    letter-spacing: 1px;
}

.lcars-container {
    width: 100%;
    height: 100%;
}

.lcars-column-1-8 {
    width: 12.5%;

    float: left;

    height: 100%;
}

.lcars-column-inner {
    width: 100% - @elbow-width;

    float: left;
    clear: both;
}

.lcars-right > .lcars-column-inner {
    float: right;
    clear: both;
}

.lcars-center {
    float: left;
}

.lcars-button {
    width: 100%;
    height: 1.8em;
    line-height: 1.8em;

    vertical-align: middle;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: cornflowerblue;
}

.lcars-button::after {
    width: @elbow-width;
    height: 100%;
    background: black;
}
