@import "lcars-variables.less";

.lcars-row(@amount) {
    width: 100%;
    height: (12 / @amount)

    overflow: hidden;
}

.lcars-row(1);
.lcars-row(2);
.lcars-row(3);
.lcars-row(4);
.lcars-row(5);
.lcars-row(6);
.lcars-row(7);
.lcars-row(8);
.lcars-row(9);
.lcars-row(10);
.lcars-row(11);
.lcars-row(12);
