//Background color, used to fill in elbow bits with the same color
@background: black;

//Width of the overhang of an elbow
@elbow-cutout-width: 15%;
@elbow-cutout-height: 65%;
@elbow-outer-radius: 60%;
@elbow-inner-radius: 9px;   // set to 9px for worst smallest case need to be min of current width:height ideally

//Height of the top and bottom elbows
@elbow-height: 75px;
@border-height: 75px;

//Column settings
@column-padding-left: 0.125%;
@column-padding-right: 0.125%;
@column-padding-vertical: 3px;

// Group color variables
@group-count: 6;
@group-depth-count: 12;
@group-color-offset: 30;

//Amount of variance in luminance between different members of the same group
@group-min-luminance: 0.6;
@group-max-luminance: 0.7;

@group-min-saturation: 0.30;
@group-max-saturation: 0.55;

//Handle button animation parameters
@highlight-brightness: 40%;
@highlight-saturation: 100%;
@highlight-duration: 0.45s;
