.lcars-button {
    user-select: none;
    -webkit-touch-callout: none;
    width: 100%;
    height: 1.8em;
    line-height: 1.8em;

    vertical-align: middle;
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: cornflowerblue;

    position: relative;
}

.lcars-button-after() {
    position: absolute;

    width: @elbow-cutout-width;
    height: 100%;

    content: "";

    background-color: inherit;

    top: 0;
}

@button-cap-radius: 150% 100%;

.lcars-left .lcars-cap-round.lcars-button::after {
    .lcars-button-after();

    right: -(@elbow-cutout-width * 1.15);

    border-top-right-radius: @button-cap-radius;
    border-bottom-right-radius: @button-cap-radius;
}

.lcars-right .lcars-cap-round.lcars-button::after {
    .lcars-button-after();

    left: -(@elbow-cutout-width * 1.15);

    border-top-left-radius: @button-cap-radius;
    border-bottom-left-radius: @button-cap-radius;
}

.lcars-left .lcars-cap-square.lcars-button::after {
    .lcars-button-after();

    right: -(@elbow-cutout-width * 1.15);
}

.lcars-right .lcars-cap-square.lcars-button::after {
    .lcars-button-after();

    left: -(@elbow-cutout-width * 1.15);
}
