@import "lcars-variables.less";

.lcars-elbow() {
    width: 100%;
    height: @elbow-height;
    background-color: cornflowerblue;

    position: relative;

    clear: both;
}

.lcars-elbow-after() {
    &::after {
        position: absolute;

        width: @elbow-cutout-width;
        height: @elbow-cutout-height;

        content: "";

        background-color: @background;
    }
}

.lcars-left > .lcars-top-elbow {
    border-top-left-radius: @elbow-outer-radius;

    float: left;

    &::after {
        bottom: 0;
        right: 0;

        border-top-left-radius: @elbow-inner-radius;
    }

    .lcars-elbow();
    .lcars-elbow-after()
}

.lcars-left > .lcars-bottom-elbow {
    border-bottom-left-radius: @elbow-outer-radius;

    float: left;

    &::after {
        top: 0;
        right: 0;

        border-bottom-left-radius: @elbow-inner-radius;
    }

    .lcars-elbow();
    .lcars-elbow-after()
}

@center-elbow-height: @elbow-height * (1 - unit(@elbow-cutout-height) / 100);

.lcars-center > .lcars-top-elbow {
    float: left;

    .lcars-elbow();

    height: @center-elbow-height;
}

.lcars-center > .lcars-bottom-elbow {
    float: left;

    .lcars-elbow();

    height: @center-elbow-height;
}

.lcars-right > .lcars-top-elbow {
    border-top-right-radius: @elbow-outer-radius;

    float: right;

    &::after {
        bottom: 0;
        left: 0;

        border-top-right-radius: @elbow-inner-radius;
    }

    .lcars-elbow();
    .lcars-elbow-after()
}

.lcars-right > .lcars-bottom-elbow {
    border-bottom-right-radius: @elbow-outer-radius;

    float: right;

    &::after {
        top: 0;
        left: 0;

        border-bottom-right-radius: @elbow-inner-radius;
    }

    .lcars-elbow();
    .lcars-elbow-after()
}

.lcars-spacer-elbow {
    height: 5px;
    width: 100%;
    float: left;
}
